extends layout

block content
  .page-header
    h3 Credits

  ul
    li
      a(href='https://github.com/sahat/hackathon-starter') Node Hackathon Starter and dependancies
    li
      a(href='http://developer.yahoo.com/yql/') Yahoo Query Language
    li
      a(href='http://videogamegeek.com/wiki/page/BGG_XML_API2') Board Game Geek XML API2
