extends layout

block content
  .page-header
    h3 My Friends

  p.lead
    | This page will allow you to search this website for other users and request
    | a friendship.  This will allow easier querying for their games, statistics,
    | and make it easier to add them to your play history

  h4 All Users
  table
    tr
      th Email
      th Name
      th Location
    for user in allUsers
      tr
        td #{user.email}
        td #{user.profile.name}
        td #{user.profile.location}
