extends layout

block content
  .page-header
    h4 All Users

  table.table
    tr
      th Email
      th Name
      th Location
    for user in allUsers
      tr
        td #{user.email}
        td #{user.profile.name}
        td #{user.profile.location}
