extends layout

block content
  .page-header
    h3 My Games

  p.lead
    | This page will allow you to query an api to find and add games you own.
    | Once you have games added to your collection, you will be able to start
    | recording plays.
