extends layout

block content
  .page-header
    h3 My Games

  p.lead
    | This page will allow you to query an api to find and add games you own.
    | Once you have games added to your collection, you will be able to start
    | recording plays.

  ul#gamesTabs.nav.nav-tabs
    li.active
      a(href="#collectionTab") In Collection
    li
      a(href="#findMoreTab") Find More

  .tab-content
    #collectionTab.tab-pane.active
      h4 In Collection
      #ownedGames(class="hidden", data-games=games)
      table#ownedGamesTable.table
        thead
          tr
            th Name
            th Year Published
            th Image
        tbody

    #findMoreTab.tab-pane
      h4 Find More

      form.form-inline(role="form", action="javascript:PLAYHISTORY.games.searchBoardGameGeek()")
        .form-group
          label.sr-only(for="gameSearch") Game Search
          input#gameSearch.form-control(placeholder="Type in a name", type="text")

        button#searchButton.btn.btn-default Search

      input(id='csrf', type='hidden', name='_csrf', value=token)

      table#searchResults.table
        thead
          tr
            th Name
            th Year Published
            th Image
            th Add Game
        tbody
