extends layout

block content
  .page-header
    h3 My Plays

  p.lead
    | This page will allow you to keep track of your game plays. Plays will have
    | a date, a list of players(which can be friends), a list of scores (for each player),
    | and a game (either one in your collection, a friend's collection, or a guest's)

